    <div class="item col-md-3">
      <div class="thumbnail img-responsive">
          <%= image_tag post.image.url %>
          
          <div class="hover-description">

            
              
              
                <h5><%= post.title %></h5>
    
              
                <h5><%= post.description %></h5>
              
              <h5><%= post.date %></h5> 


          </div>
      </div>
  </div>