

<div class="container-fluid">

	<div id="posts" class="row">

		<% @user_posts.each do |post| %>
				
					<%= link_to (post.date ? year_posts_path(:year => Date.parse(post.date).year) : no_year_path) do %>
						<%# if post.image_content_type %>
					
            <%= render :partial => 'grid_post', :locals => { post: post } %>

						<%# end %>
					<% end %>
		<% end %>
			
	</div>
</div>


