// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
	height: 780px;
	width: 100%;
}

.slide1 {
	background: url(oliverlp.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: -20px;
}

.slide2 {
	background: url(screenshot.png) no-repeat center center fixed; 
	background-size: 80%;
}

.slide3 {
	background-color: #336699;
	padding-top: 20%;
	padding-bottom: 20%;
	text-align: center;
	height: 900px;
}

.btn {
  margin-top: 20px;
	color: white;
}

#cloud1 {
	margin-left: 24%;
	margin-top: -12%;
}

#cloud2 {
	margin-top: 5%;
	margin-left: 60%;
}

#cloud3{
	margin-top: -52%;
	margin-left: -64%;
}

.timeline {
	height: 300px;
	padding-top: 70px;
	margin-top: 10px;
	background-color: rgba(255, 255, 255, 0.6);
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

.connect {
	padding-bottom: 30px;
	text-align: center;
	color: white;
	font-size: 50px;
	font-weight: bold;
}

.connect1 {
	background-image: url('Mary1.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  border: 1px solid #bdbdbd;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  height: 190px;
  width: 190px;
  margin: 0 25px 0 25px;
  overflow: auto;
  text-align: center;
  display: inline-block;
}

.connect2 {
	background-image: url('Will1.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  border: 1px solid #bdbdbd;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  height: 190px;
  width: 190px;
  margin: 0 25px 0 25px;
  overflow: auto;
  text-align: center;
  display: inline-block;
}

.connect3 {
	background-image: url('Phoebe1.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  border: 1px solid #bdbdbd;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  height: 190px;
  width: 190px;
  margin: 0 25px 0 25px;
  overflow: auto;
  text-align: center;
  display: inline-block;
}

#slide-3 p {
	margin-bottom: -15px;
}